@model DDDCinema.Application.Presentation.Promotions.PromotionDraftNameDTO
@{
    ViewBag.Title = "Approve Promotion";
    var processId = ViewContext.RouteData.Values["id"];
}

<h2>Approve Promotion</h2>
<p>
    Are you sure that you want to approve @Model.Name?
</p>

@using (Html.BeginForm())
{
    @Html.Hidden("ApprovalProcessId", processId)
    
    <button type="submit" class="btn btn-primary">Approve</button>
    @Html.ActionLink("Check details", "Details", "Promotion", new { id = Model.PromotionId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}
